{% extends "./base.html" %}
{% load bootstrap4 %}
{% block title %}
    情報の編集
{% endblock title %}
{% block content %}

<div class="float-right">
    <a href="{% url 'list' %}" class="btn btn-secondary btn-sm" >戻る</a>
</div>

<h2 class="mt-4 mb-5 border-bottom">情報の編集</h2>
<form method="post">
{% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="form-group row">
        <div class="offset-md-3 col-md-9">
        <div class="float-right">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
        </div>
    </div>
</form>

{% endblock %}
